body{
    background-color: darkgray;
    
}
.circle-picture{
    margin-top: 20px;
    border-radius: 50%;
    width: 150px;
}
h1{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
.fb-logo{
    border-radius: 50%;
    width: 15px;
}

.center{
    background-color: white;
    box-shadow: 1px 1px 1px 1px grey;
    width: 750px;
    height: 360px;
    text-align: center;

    margin-top: 10%;
    margin-right:auto;
    margin-bottom: 10%;
    margin-left:auto;
}
.hoverover:hover{
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: #3d5595;
    padding: 5px;
    border-radius: 25px;
}
.link:hover{
    color: white;
}
.link{
    text-decoration: none;
}