body{
    background-color: darkgray;
    text-align: center;
    margin: auto;
}
h1{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.picture{
    max-width: 20%;
    height: auto;
}
.fb-logo{
    max-width: 2%;
    height: auto;
}

div {
    height: 500px;
    width: 950px;
    padding: 10px;
    margin: 225px;
    background-color: white;
  }
.circle{
    align-content: center;
    border-radius: 50%;
}
a:hover{
    background-color: aquamarine;
}